<html>
    <head>

    </head>
    <body>
        <header>

        </header>
        <div class="container">
            <div class="row">
                <section>
                    <div class="pre">
                        <h1>Beau travail !</h1>
                        <p>Un nouveau chantier a été ajouté !</p>
                    </div>
                    <a class="btn btn-default" href="#">Retour aux chantiers</a>
                    <a class="btn btn-info" href="#">Ajouter un autre chantier</a>
                </section>
            </div>
        </div>
        <footer>

        </footer>
    </body>
</html>